@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html {
  cursor: url('../assets/cursors/mouse_arrow_pointer.svg'), auto;
}

body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.container h1 {
  color: #000000;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 2rem auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 110px;
  height: 110px;
  margin: 5px;
  border: solid 4px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 20px;
  cursor: url(../assets/cursors/ponteiro.png), auto;
}

.card img {
  width: 100px;
  height: 100px;
}

.success-message.hidden {
  display: none;
}

.button-reiniciar {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
  border: 1px solid #000000;
}

.button-reiniciar:hover {
  cursor: url('..//assets/cursors/ponteiro.png'), auto;
  background-color: #a8a8a8;
  color: #ffffff;
}

/* CSS media query dentro de um stylesheet */
@media (max-width: 450px) {
  .container {
    display: grid;
    width: 100%;
    gap: 1rem;
  }

  .memory-game {
    max-width: 375px;
  }

  .card {
    width: 70px;
    height: 70px;
  }

  .card img {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 325px) {
  .container {
    display: grid;
    width: 100%;
  }

  .memory-game {
    max-width: 100%;
  }

  .card {
    width: 55px;
    height: 55px;
  }

  .card img {
    width: 50px;
    height: 50px;
  }
}
