@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html {
  cursor: url('../assets/cursors/mouse_arrow_pointer.svg'), auto;
}

.body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color: #f0f0f0;
}

.welcome-container {
  max-width: 60%;
  margin: 5rem auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.texto_h1 {
  color: #000000;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  margin-top: 2rem;
}

.cardBody p {
  color: #666666;
  margin: 0;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.form input {
  padding: 10px;
  width: 100%;
}

.form input:hover {
  cursor: url('../assets/cursors/mouse_i_cursor.svg'), auto;
}

.btn_jogar {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
  border: 1px solid #000000;
  margin-left: 230px;
  margin-top: 10px;
}

button:hover {
  cursor: url('../assets/cursors/ponteiro.png'), auto;
  background-color: #a8a8a8;
  color: #ffffff;
}

/* ranking.css */
.ranking-container {
  margin-top: 30px;
}

.ranking-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ranking-container th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.ranking-container th {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

/* Modal*/

.swal2-confirm:hover {
  cursor: url('..//assets/cursors/ponteiro.png'), auto;
}

/* CSS media query dentro de um stylesheet */
@media (max-width: 450px) {
  .welcome-container {
    max-width: 100%;
    background-color: #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    margin: 2rem auto;
  }
}
